<div class="grid-50">
    <img src="images/logo.png" alt="Sanitas" />
</div>
<div class="grid-50 align-right">
    <div class="align-left float-right support-panel">
        <div class="float-left">
            <img src="images/icon_Telephon_36px.png" alt="Support" />
        </div>
        <div class="float-left">
            Haben Sie weitere Fragen?
            <br>
            <span class="number">0800 22 88 44</span>
            <br> Montag – Freitag: 08.00 - 20.00 Uhr
        </div>
    </div>
</div>
