<div class="personen">
    <h1 class="default">Ich suche eine Krankenversicherung für ...</h1>
    <table>
        <tr>
            <td>
                <a ng-click="vm.addClients(1)" class="person">
                    <div class="square">
                        <img src="images/icon_mann.png" alt="mich"/><br>
                    </div>
                    <div class="text">
                        mich
                    </div>
                </a>
            </td>
            <td>
                <a ng-click="vm.addClients(2)" class="person">
                    <div class="square">
                        <img src="images/icon_partner.png" alt="mich und meinen Partner"/><br>
                    </div>
                    <div class="text">
                        mich und meinen Partner
                    </div>
                </a>
            </td>
            <td>
                <a ng-click="vm.addClients(3)" class="person">
                    <div class="square">
                        <img src="images/icon_familie.png" alt="meine Familie"/><br>
                    </div>
                    <div class="text">
                        meine Familie
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>


